body{
	margin: 0px;
	font-family: "Poppins", sans-serif;
}
h1,h2{
	text-align: center;
}
.navbar{
	position: fixed;
	float: left;
  margin-top: 0px;
  padding: 0px;
	height: 100%;
	background-color:aliceblue;
	width: 10%;
	list-style-type: none;
}
.navbar li{
	margin: 0px;
	padding: 5px;
}
.navbar .img{
	height: 120px;
}
.img img{
	height: 110px;
	width: 95%;
}
.navbar a{
	color: black;
	width: 100%;
	display: block;
	text-align: center;
	padding: 20px 0px;
	font-size: 20px;
	border-radius: 5px;
	text-decoration: none;
}
.navbar li a:hover {
    background-color: #555;
    color: white;
}
.navbar li .active{
	background-color:#2B2929;
    color: white;
}
.details{
	margin: 0px;
	width: 89%;
	float: right;
	text-align: center;
}
form{
	margin-top: 8%;
	margin-left: 25%;
	width: 40%;
}
legend{
	margin-left: 20px;
	font-size: 20px;
	padding: 8px;
}
label{
	color: blue;
}
form input{
	padding: 8px;
	width: 75%;
	border: none;
  border-bottom: 2px solid aquamarine;
	font-size: 18px;
	text-align: center;
}
select{
	padding: 10px;
	width: 75%;
	border: none;
  border-bottom: 2px solid aquamarine;
	font-size: 15px;
	text-align:center;
	text-align-last:center;
}
form textarea{
	height: 100px;
	width: 80%;
}
.btn{
	width: 200px;
	height: 50px;
	background-color: aquamarine;
	font-size: 20px;
	cursor: pointer;
}
