body{
	color: black;
	background-color: #303940;
	margin: 0px;
}
.navbar{
	background-color: #283138;
	list-style:none;
	width:100%;
	margin:0px;
	padding:0px;
	font-size:18px;
	position:fixed;
}
.navbar li{
	float:left;
	padding: 12px 15px 8px;
}
.navbar li img, .navbar li object{
	width: 30px;
	height: 30px;
	background-color: #283138;
	padding: 10px 25px;
	border-radius: 50%;
}
.navbar a{
	display:block;
	color:#FFF;
	background-color: #303940;
	border-radius: 10px;
	padding:10px 30px 10px 30px;
	text-decoration:none;
}
.navbar .active{
	color:#000000;
	background-color: #FFED05;
}
.top_right {
	float: right;
	border-radius: 90px;
}.top_right img{
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 10px;
}.top_right a{
	background-color: #283138;
	padding: 0px;
}
.navbar .profpic{
	width: 10px;
	height: 40px;
	padding-right: 70px;
	border: none;
	border-radius: 5px;
  outline: none;
}
.tender{
	background-color: white;
	width: 370px;
	height: 300px;
	float: left;
	margin: 20px 20px 10px 50px;
	border-radius: 60px;
	cursor: pointer;
	color: black;
}
.text{
	margin: 30px;
	text-transform: uppercase;
	text-align: center;
}
.text img{
	width: 128px;
	height: 128px;
}
.bod{
	padding-top: 63px;
}
.floatnew{
  position:absolute;
  top: 700px;
  left: -100px;
  right: 700px;
  bottom: 0px;
  background-color:gainsboro;
	width: 200px;
	height: 50px;
	float: left;
	margin: 20px 20px 10px 20px;
	border-radius: 60px;
}

.cust{
  background-color:gainsboro;
	width: 100px;
	height: 40px;
	float: center;
	margin: 20px 20px 10px 20px;
	border-radius: 60px;
  cursor: pointer;
}
.tendernew{
	 background-color: #FFED05;
	width: 770px;
	height: 650px;
	float:right;
	margin: 20px 300px 10px 50px;
	border-radius: 60px;
	cursor: pointer;
}
.tend{
	 background-color: #FFED05;
	width: 770px;
	height: 250px;
	float:right;
	margin: 20px 300px 10px 50px;
	border-radius: 60px;
	cursor: pointer;
}
.button{
	 display: block;
    width: 85px;
    height: 25px;
    background: grey;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    float:;

}
.button2{
	 display: block;
    width: 135px;
    height: 20px;
    background: grey;
    padding: px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    float:;

}
.dynabod{
	background-color: #FFED05;
	width: 770px;
	float:right;
	margin: 20px 300px 10px 50px;
	border-radius: 60px;
}
