body{
	color: white;
	background-color: #303940;
	margin: 0px;
	font-size: 20px;
}
.navbar{
	background-color: #283138;
	list-style:none;
	width:100%;
	margin:0px;
	padding:0px;
	font-size:18px;
	position:fixed;
}
.navbar li{
	float:left;
	padding: 8px 15px 8px;
}
.navbar li img,.navbar li object{
	width: 40px;
	height: 28px;
	background-color: #283138;
	padding: 10px 25px;
}
.navbar a{
	display:block;
	color:#FFF;
	background-color: #303940;
	border-radius: 10px;
	padding:10px 30px 10px 30px;
	text-decoration:none;
}
.navbar .active{
	color:#000000;
	background-color: #FFED05;
}

.top_right {
	float: right;
	border-radius: 90px;
}.top_right img{
	padding: 0px;
	margin: 0px;
	width: 10px;
	height: 15px;
}.top_right a{
	background-color: #283138;
	padding: 0px;
}
.navbar .profpic{
	width: 10px;
	height: 40px;
	padding-right: 70px;
	border: none;
	border-radius: 5px;
  outline: none;
}
.uhead{
	padding-top: 80px;
	width: 69%;
	height: 250px;
}
.uhead img, .uhead object{
	padding-top: 20px;
	padding-left: 15px;
	width: 200px;
	height: 200px;
	float: left;
	cursor: pointer;
}
input{
	padding: 10px;
	color: white;
	background: inherit;
	border: none;
    border-bottom: 2px solid white;
	font-size: 20px;
}
.uhead .uinfo{
	margin: 80px 0px 0px 320px;
}
.uedit{
	margin: 10px 0px 0px 20px;
	width: 65%;
}
.uedit input{
	margin-left: 200px;
	width: 350px;
	padding: 5px;
	position: absolute;
	left: 120px;
}
.uedit textarea{
	width: 900px;
	height: 90px;
	padding: 7px;
}
.sidebar{
	margin: 80px 0px -10px 2px;
	background-color: #FFED05;
	width: 29%;
	height: 88.5%;
	right: 10px;
	border-radius: 30px;
	position: fixed;
}
.sdinfo{
	width: 92%;
	height: 27%;
	margin: 5px 20px;
	background-color: aliceblue;
	border-radius: 15px;
}
.sdinfo img{
	margin: 5px 5px 0px 5px;
	width: 130px;
	height: 150px;
	float: right;
}
.sdinfo h2{
	color: red;
	font-size: 35px;
	text-align: center;
	padding-top: 25px;
	margin-bottom: -20px;
}
.sdinfo h3{
	color: black;
	padding: 5px 10px 10px;
	text-align: center;
}
.uedit #button{
	background-color: yellow;
	border-radius: 20px;
	padding: 15px;
	cursor: pointer;
	color: black;
}
