body{
	background-color:#1F66DC;
	margin: 0;
	overflow: hidden;
}
.info{
	float: left;
	width: 50%;
	height: 60vh;
	background-color:#093359;
	margin-top: 9%;
	margin-left: 8%;
	margin-right: -20%;
}
.info section {
	color: white;
	margin-left: 10%;
	margin-right: 28%;
}
.info a{
	text-decoration: none;
	color: aqua;
}
.sign_box{
	width: 60%;
	height: 150vh;
	float: right;
	background-color:#3EA2F0;
	transform:rotate(13deg);
	margin-top:-13%;
  margin-right:-5%;
}
.sign_box section {
	font-size: 30px;
	margin: 25% 5% 0% 5%;
	transform:rotate(-13deg);
}
.sign_box input{
	background-size: 23px 23px;
  background-position: 3px 3px;
  background-repeat: no-repeat;
	color: aliceblue;
	font-size: 18px;
	width: 50%;
	padding: 5px 20px 5px 40px;
  margin: 7px 0px;
	border: none;
  border-bottom: 2px solid white;
	background-color: transparent;
}
.sign_box .button{
	border-radius: 6px;
	margin: 5% 13%;
	width: 200px;
	height: 70px;
	border: none;
	background-color: #3BF0CF;
	color: black;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	cursor:pointer;
}
